.stsearch-box input {
    box-sizing: border-box;
    border: 0px !important;
    border-radius: 5px;
    width: 100%;
    padding: 0px !important;
    padding-left: 10px !important;
    font-size: 14px;
}
.stsearch-box input:focus {
    outline: none !important;
}